# Entorno virtual
venv/
__pycache__/

# Archivos de build
build/
dist/

# Archivos de empaquetado de py2app
*.egg-info/
*.spec

# Archivos temporales de macOS
.DS_Store

# Archivos de logs o pruebas
*.log
*.tmp
